___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [21]:
def lesser_of_two_evens(a,b):
    if (a%2==0 and b%2==0):
        if (a<b):
            print(a)
        else:
            print(b)
    else:
        if (a>b):
            print(a)
        else:
            print(b)
        pass

In [15]:
# Check
lesser_of_two_evens(20,22)

20

In [26]:
# Check
lesser_of_two_evens(6,85)

85

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [57]:
def animal_crackers(text):
    new_text = text.split()
    if (new_text[0][0] == new_text[1][0]):
        return("True")
    else:        
        return("False")
    pass

In [61]:
# Check
animal_crackers('Levelheaded Llama')

'True'

In [63]:
# Check
animal_crackers('Crazy Kangaroo')

'False'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [68]:
def makes_twenty(n1,n2):
    if(n1 == 20 or n1 == 20 or (n1 + n2 == 20)):
        return("True")    
    else:
        return("False")
    pass

In [77]:
# Check
makes_twenty(10, 10)

'True'

In [75]:
# Check
makes_twenty(2,12)

'False'

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [126]:
def old_macdonald(name):
    print(name)
    str1 = name[0:3]
    str2 = name[3:]
   # print(str1)
   # print(str2)
    #str3 = str1.capitalize()
    #str4 = str2.capitalize()
    #print(str3)
   # print(str4)
    #str = " ".join(str3,str4)
    str = "".join([str1.capitalize(),str2.capitalize()])
    print(str)
    #print(str)
    #return(str)
pass

In [127]:
# Check
old_macdonald('macdonald')

macdonald
MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [348]:
def master_yoda(text):
    #print(text)
    #lst = text.split(" ")
    #print(lst)
    #new_list = " ".join([lst[2],lst[1],lst[0]])
    return ' '.join(text.split()[::-1])
    #return new_list
    pass

In [349]:
# Check
master_yoda('I am home')

'home am I'

In [142]:
# Check
master_yoda('We are ready')

We are ready

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [250]:
def almost_there(n):
    if (abs(n)>90) and (abs(n)<110):
        print('True')
    elif (abs(n)>190) and (abs(n) <210) :
        print('True')
    else:
        print("False")
    pass

In [251]:
# Check
almost_there(109)

True

In [252]:
# Check
almost_there(150)

False

In [253]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [373]:
def has_33(nums):
    #for item, num in enumerate(nums):
     #   print(item,num) 
    #if(nums[item] == nums[item + 1]):
     #   print("True")
    for i in range(0, len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True            
        
    pass

In [374]:
# Check
has_33([1, 3, 3])

True

In [375]:
# Check
has_33([1, 3, 1, 3])

In [372]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [232]:
def paper_doll_old(text):
    # pick the first char and append twice till the string is there
    # we can use while loop 
    #lst = [char for char in text]  
    lst = []
    for char in text:
        #print(char)
        lst.append(char)
        lst.append(char)
        lst.append(char)
        
    print(lst)
    str = " "
    return (str.join(lst))
    #print(str)
    #new_text = text.split(" ")
    #for count, st in enumerate(new_text):
    #   print(count,st)
    pass
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [376]:
# Check
paper_doll('Hello')

['H', 'H', 'H', 'e', 'e', 'e', 'l', 'l', 'l', 'l', 'l', 'l', 'o', 'o', 'o']

'H H H e e e l l l l l l o o o'

In [377]:
# Check
paper_doll('Mississippi')

['M', 'M', 'M', 'i', 'i', 'i', 's', 's', 's', 's', 's', 's', 'i', 'i', 'i', 's', 's', 's', 's', 's', 's', 'i', 'i', 'i', 'p', 'p', 'p', 'p', 'p', 'p', 'i', 'i', 'i']

'M M M i i i s s s s s s i i i s s s s s s i i i p p p p p p i i i'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [379]:
def blackjack_old(a,b,c):
    #if(a > 1) and (a < 11):
        #print("a correct")        
    #else:
    #   print("a is outside range")
    sum = a+b+c
    if (sum <=21):
        return(a+b+c)
    elif ((sum > 21 and a == 11) or (sum > 21 and b == 11) or (sum > 21 and c == 11)):
        sum = sum - 10
        print('sum reduced')
    print(sum)    
    if(sum > 21):
        return("BUST")
    pass

def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [380]:
# Check
blackjack(11,11,11)

'BUST'

In [292]:
# Check
blackjack(9,9,9)

27

'BUST'

In [293]:
# Check
blackjack(9,9,11)

sum reduced
19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [383]:
def summer_69_draft(arr):
    sum = 0 
    for item in arr:
        print(item)
        if(item !=6):           
            sum = sum + item
            print(sum)
            pass
        elif(item != 9):
            pass
    print(sum)
    pass

def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [384]:
# Check
summer_69([1, 3, 5])

9

In [385]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [386]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [3]:

def spy_game(nums):
    # first we'll make a target str to be matched
    code = [0,0,7,'x']
    # Logic is to check the each ele with the code, if equal pop this from list till we have only x which is length 1
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [4]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [5]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [6]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [1]:
def count_primes(num):
    primes = [2]
    print(num)
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2            
    print(primes)
    return len(primes)

In [2]:
# Check
count_primes(100)

100
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [7]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [9]:
print_big('b')

****
*   *
****
*   *
****

## Great Job!